# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  build:


    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v3
      - name: Install Java 17 in the machine
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Install Terraform in the machine
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.2
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: shadowJar
          build-root-directory: backend
      - name: Initialize Terraform
        run: cd terraform && terraform init
      - name: Check format
        run: cd terraform && terraform fmt -check
      - name: Validate Terraform
        run: cd terraform && terraform validate
      - name: Plan Terraform
        run: cd terraform && terraform plan -input=false
      - name: Apply Terraform
        run: cd terraform && terraform apply -input=false -auto-approve
